*~
.pc
*.ncb
*.suo
*.vcproj.*.user
Engine/acwin___Win32_DebugWorking
Editor/AGS.Controls/bin
Editor/AGS.Controls/obj
Editor/AGS.CScript.Compiler/bin
Editor/AGS.CScript.Compiler/obj
Editor/AGS.Editor/bin
Editor/AGS.Editor/obj
Editor/AGS.Native/Debug
Editor/AGS.Types/bin
Editor/AGS.Types/obj
Editor/UpdateCPPVersion/bin
Editor/UpdateCPPVersion/obj
Solutions/.build/
Solutions/.lib/
Solutions/Common.Lib/Debug/
Solutions/Engine.App/Debug/

Solutions/Engine.App/Release
Solutions/Engine.App/Release_NoMP3
Editor/AGS.Native/Release
Solutions/Compiler.Lib/Debug
Solutions/Compiler.Lib/Release
Solutions/Common.Lib/Release
Solutions/Common.Lib/Release_NoMP3
*.csproj.user
*.idc
Engine/resource/version.aps
*.o
*.d
common.a
ags
Android/launcher_list/.classpath
Android/launcher_list/.settings/
Android/launcher_list/bin/
Android/launcher_list/gen/
Android/launcher_list/local.properties
Android/library/.settings/
Android/library/bin/
Android/library/gen/
Android/library/libs/
Android/library/obj/
Android/library/local.properties
Android/library/.classpath
Android/nativelibs
Editor/References/AGS.Native.dll
Solutions/Common.Lib/Debug_MD/
Solutions/Common.Lib/Release_MD/
Solutions/Compiler.Lib/Debug_MD/
Solutions/Compiler.Lib/Release_MD/
Manual/*.htm
Manual/*.con
Manual/ags.ref
Manual/ags.chm
Manual/ags.chw
Manual/ags.hhc
Manual/ags.hhk
Manual/ags.hhp
Manual/ags.htx
iOS/nativelibs/armv6
iOS/nativelibs/armv7
iOS/nativelibs/armv7s
iOS/nativelibs/arm64
iOS/nativelibs/i386
iOS/nativelibs/x86_64
Solutions/Engine.App/test.ini


OSX/xcode/legacy/game_files/ac2game.001
OSX/xcode/legacy/game_files/ac2game.002
OSX/xcode/legacy/game_files/ac2game.dat
OSX/xcode/legacy/game_files/audio.vox
OSX/xcode/legacy/game_files/speech.vox
iOS/xcode/BlackwellLegacy/game/ac2game.dat
iOS/xcode/BlackwellLegacy/game/audio.vox
iOS/xcode/BlackwellLegacy/game/speech.vox
OSX/xcode/shivah/game_files/ac2game.dat
OSX/xcode/shivah/game_files/audio.vox
OSX/xcode/shivah/game_files/speech.vox
xcuserdata
OSX/xcode/shivah/Shivah.xcodeproj/project.xcworkspace/xcuserdata/janetcampbell68.xcuserdatad/UserInterfaceState.xcuserstate
iOS/xcode/BlackwellConvergence/game/ac2game.dat
iOS/xcode/BlackwellConvergence/game/audio.vox
iOS/xcode/BlackwellConvergence/game/speech.vox
iOS/xcode/BlackwellUnbound/game/ac2game.dat
iOS/xcode/BlackwellUnbound/game/audio.vox
iOS/xcode/BlackwellUnbound/game/speech.vox
iOS/xcode/ags/Gemini Rue.xcodeproj/project.xcworkspace/contents.xcworkspacedata
OSX/xcode/legacy/Legacy.xcodeproj/project.xcworkspace/xcuserdata/janetcampbell68.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcscheme
OSX/xcode/legacy/Legacy.xcodeproj/xcuserdata/janetcampbell68.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
OSX/xcode/shivah/Shivah.xcodeproj/project.xcworkspace/xcuserdata/janetcampbell68.xcuserdatad/UserInterfaceState.xcuserstate
OSX/xcode/legacy/game_files/music.vox
OSX/xcode/legacy/Legacy.xcodeproj/xcuserdata/janetcampbell68.xcuserdatad/xcschemes/Legacy.xcscheme
OSX/xcode/legacy/Legacy.xcodeproj/project.xcworkspace/xcuserdata/janetcampbell68.xcuserdatad/UserInterfaceState.xcuserstate
OSX/xcode/legacy/Legacy.xcodeproj/xcuserdata/janetcampbell68.xcuserdatad/xcschemes/Legacy.xcscheme
OSX/xcode/legacy/Legacy.xcodeproj/xcuserdata/janetcampbell68.xcuserdatad/xcschemes/xcschememanagement.plist
OSX/xcode/shivah/Shivah.xcodeproj/project.xcworkspace/xcuserdata/janetcampbell68.xcuserdatad/UserInterfaceState.xcuserstate
OSX/xcode/legacy/Legacy.xcodeproj/project.xcworkspace/xcuserdata/janetcampbell68.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
OSX/xcode/shivah/Shivah.xcodeproj/project.xcworkspace/xcuserdata/janetcampbell68.xcuserdatad/UserInterfaceState.xcuserstate
*.dat
*.vox
*.xcworkspacedata
*.xccheckout
OSX/xcode/legacy/Legacy.xcodeproj/project.xcworkspace/xcuserdata/janetcampbell68.xcuserdatad/UserInterfaceState.xcuserstate
OSX/xcode/legacy/Legacy.xcodeproj/project.xcworkspace/xcuserdata/janetcampbell68.xcuserdatad/UserInterfaceState.xcuserstate
OSX/xcode/golden_wake/game_files no steam.zip
OSX/xcode/golden_wake/game_files/steam/ac2game.dat.old
OSX/xcode/golden_wakegame_files no steam.zip
OSX/xcode/legacy/Legacy.xcodeproj/xcuserdata/janetcampbell68.xcuserdatad/xcschemes/xcschememanagement.plist
OSX/xcode/legacy/Legacy.xcodeproj/xcuserdata/janetcampbell68.xcuserdatad/xcschemes/Legacy.xcscheme

*.exe
